[2018-11-06 20:37] oddodaoddo opened #1 "Error checking if segment start > segment end"
Right now if you try to enter a segment start value that is > than segment end value, the page throws a raw Python error. The REST API server returns JSON that indicates a problem of this sort. Either that or the page itself can check the arguments before croaking :)

[2018-11-15 22:24] nsheff opened #3 "how do you go from a bed file to a segmentation?"
One thing to think about is coming with a toolset to help people map bed files onto existing segmentations.

[2018-11-27 14:57] nsheff opened #2 "docker instructions"
the bioterms repo includes instructions for how to run the website locally using docker.

Can we do something similar for this repository?

I suppose this will have to be connected to the data providers in order to work -- it should eventually be configurable to connect to whatever data providers it needs to.

[2018-11-27 15:24] nsheff opened #4 "Query: Segmentation filter"
## Segmentation filter query

One  query type is a *segmentation filter*. The goal of this query type is to return a subset of a given segmentation, as determined by user-given conditions. For instance, we may want the subset of ~segments~ *regions* that have biological properties *x*, *y*, and *z*.

To create this kind of query, the Hub UI provides a dynamic series of HTML input widgets that popu

[2018-11-27 15:25] nsheff opened #5 "Implement a "provider subscriptions" web GUI in the hub"
The hub needs a way for a user to *link* external data providers by providing a `provider interface` file (https://github.com/databio/episb-provider/issues/6). This should just be a text field with a submit button where the user submits a URL (similar to the way UCSC track hubs work). That URL should point to the above `design interface` file (or API point, perhaps?). The hub then parses this info

[2018-11-29 14:28] nsheff opened #6 "Query: retreiving annotation values for given regions"
re-raised in recent discussion with @oddodaoddo.

Another type of query we will want to do is to retrieve *annotation values* across many experiments for a given set of *Region* (or perhaps even for a complete *Segmentation*.

 For example, the user provides a set of genomic regions and wants to retrieve all annotations for those regions. Biological use cases: given a set of genetic variants from

[2018-12-11 18:03] nsheff opened #7 "Query ("Match"): Retrieve best segmentation for a given set of regions"
Raised in #3

Given a set of "regions", we need to convert these into "Segmentation Regions" (normalized regions).

[2018-12-13 16:04] nsheff opened #8 "Query: branching out to interacting regions"
After implementing `Interaction` objects (https://github.com/databio/episb-provider/issues/11), we could do a query like:

For a given input set of segments, find all overlapping `Region`s, and then find any additional interacting `Region`s.

Example: Given a set of SNPs (which are 1-base `Region`s), find all overlapping TF binding sites, and any interacting elements with that set.

[2018-12-17 15:13] nsheff opened #9 "Make page titles variable"
Right now page titles are hard-coded into `head.html` so they are all the same.

[2019-01-04 15:22] nsheff opened #11 "region query is no longer working"
No results are returned. For example:

http://episb.org/segment/1197334/11975840

[2019-01-08 00:37] nsheff opened #12 "fix docs to point at dev branch"
so we don't re-build on a bunch of docs changes...

[2019-01-10 16:22] oddodaoddo opened #13 "How to build docs locally and deploy on website"
I may be a bit dense so excuse this issue, it may not really be one ;)

I am following the instruction to serve the docs on my machine since I am adding a bunch of stuff. Where do I find the databio theme? :smiley:

Also, I take it that the instructions to deploy in production assume I am on the episb.org machine?

Thanks!

[maketo@beast-server ~/dev/sheffield/episb-hub]$ mkdocs serve -f mkdocs.ym

[2019-01-10 17:23] #11 closed, assigned to nmagee, oddodaoddo

[2019-01-10 21:30] #13 closed, assigned to nobody

[2019-01-11 02:57] #12 closed, assigned to nsheff

[2019-01-11 22:02] nsheff opened #14 "Region query needs to include chromosome"
Right now the region query includes only coordinates. It also needs to include chromosome.

[2019-01-14 13:42] nsheff opened #16 "recapture previous changes"
_Originally posted by @nsheff in https://github.com/databio/episb-hub/issues/4#issuecomment-453753597_

can you make sure you incorporated the latest changes I made to do the docs? It looks like you may not have pulled the latest docs before building and pushing your new rendered ones (or was there some other problem, because it doesn't look right to me?) Your commit reverted my earlier commit:

M

[2019-01-14 13:45] #14 closed, assigned to oddodaoddo

[2019-01-14 18:00] #16 closed, assigned to oddodaoddo

[2019-01-14 18:07] nsheff opened #17 "API docs structure suggestion"
I like the API docs in progress, this is very helpful:

http://code.databio.org/episb/howto-use-episb-API-calls/

I'm not sure how to test them though -- for example, this link doesn't seem to pull up the result posted:

http://episb.org:8080/segmentations/get/all

Are these links generic links that are supposed to take variables? Can you supplement them with functional examples?

I think one thin

[2019-01-14 20:15] nmagee opened #18 "Query: API Result Count / Paging"
Could we start to roll out two standard features across all provider API results:

1. A `resultCount` or total of results for any given API request, even though we limit the initial results to 100? I can then add some logic for both the web UI and the Hub API when `0` results are found.

2. We should think about pagination of results as well (@nsheff tell us to continue to hold off on this if you

[2019-01-14 20:28] #18 closed, assigned to nobody

[2019-01-15 13:58] nsheff opened #19 "links to query explanations"
we are explaining the queries here: http://code.databio.org/episb/howto-query-provider/

we should have links or little pop-ups under each query type on the main episb.org page that go directly to the appropriate description.

[2019-01-15 14:19] nsheff opened #20 "Docs category organization"
Some of our docs are oriented toward users of our hub (like http://code.databio.org/episb/howto-query-provider/)

Others are oriented toward developers who will build their own.

Maybe splitting the how-to guides into to 2 sections: user how-to,  and developer how-to, would help a user find the most relevant docs for him or her

[2019-01-15 15:00] #17 closed, assigned to oddodaoddo

[2019-01-20 03:17] oddodaoddo opened #21 "Document provider-interface API point"
Also adjust documentation for some changes to the contents of experiment/segmentation tuple.

[2019-01-20 03:18] oddodaoddo opened #22 "Add code to read provider-interface from episb-provider"

[2019-01-22 21:38] oddodaoddo opened #23 "docker image push denied - which image is getting deployed?"
@nmagee when I run redeploy.sh from the episb-hub repo - I am getting denied when the script tries to execute docker push. What image am I actually deploying with docker run in this script?

I did the following:
[code]

I am confused :smiley:

[2019-01-23 13:34] nsheff opened #24 "Segmentation filter dropdown"
When I select "SheffieldLab" under Provider, it takes me to:

[code]

[2019-01-23 14:28] nsheff opened #25 "query modes are not populating"
Right now the "segmentation match" and "query annotations" query boxes are not populating. I cannot figure out why they are not showing up.

[2019-01-23 14:36] #25 closed, assigned to nobody

[2019-01-23 15:50] #19 closed, assigned to nsheff

[2019-01-23 16:11] #22 closed, assigned to oddodaoddo

[2019-01-23 16:50] nsheff opened #26 "theme"
change the app theme so it either matches or is clearly distinct from the docs theme. right now it's sort of similar, but just non-centered navbar, which is strange

[2019-01-23 17:18] oddodaoddo commented on #5
Done.

[2019-01-23 17:19] oddodaoddo commented on #4
This should work with the latest commit (https://github.com/databio/episb-hub/commit/8101aeef8afdc13b2001d7d1a28ec4088c3c6079). Now I need to figure out the actual selectors on an experiment. What do we want to have here?

[2019-01-23 17:20] oddodaoddo commented on #24
Should work properly now with latest commit (https://github.com/databio/episb-hub/commit/8101aeef8afdc13b2001d7d1a28ec4088c3c6079)

[2019-01-23 17:23] nsheff commented on #5
http://episb.org/subscriptions: **Internal Server Error**

[2019-01-23 17:26] nsheff commented on #24
Yes that is working, but now when you try to select an experiment, it resets the segmentation.

can you do a complete test through the whole thing?

[2019-01-23 17:29] oddodaoddo commented on #24
It resets because the next step is not implemented (the slider rule or whatever we want).

[2019-01-23 17:30] oddodaoddo commented on #5
Try now. You went to a page directly (only / would set the session cookie). Now they all check for existence of session cookie first.

[2019-01-23 17:46] nmagee commented on #23
Exactly. It builds but then fails on the push. I wrote no error handling logic in that simple script to deal with that, so yeah you would just see the previous container. Send me your docker name if you want to use that script.

[2019-01-23 17:51] oddodaoddo commented on #1
Done.

[2019-01-23 17:51] #1 closed

[2019-01-23 17:53] #24 closed

[2019-01-23 17:53] #5 closed

[2019-01-23 17:55] oddodaoddo opened #27 "Segmentation filter - next step we want after drilling down to experiment"
@nsheff - can you tell me what you want the next "selection" step to be after an experiment has been selected?

Related to #4

[2019-01-23 18:50] nsheff commented on #27
there was a mockup originally in the HTML, which has now disappeared, but I made a slider and a dropdown, etc. You can try to dig that up, and it's described in the docs:

http://code.databio.org/episb/howto-query-provider/#query-segmentation-filter

[2019-01-24 00:42] oddodaoddo commented on #23
it is "ognend". Thanks @nmagee !

[2019-01-24 14:08] nmagee commented on #23
@oddodaoddo this is done now, and you should be able to push the container (or any container) to the databio org now.

Just FYI for you and @nsheff -- I didn't know all the details before, but when a GitHub repo is private, you have to build at travis-ci.com (100 free builds, we had used 91 of those!), so I just moved the episb-hub builds over to travis-ci.org now that this repo is open.

Build st

[2019-01-24 14:08] #23 closed

[2019-01-24 14:21] nsheff commented on #4
I can help with the presentation part pretty easily -- I think your primary goal is to get the functionality working and don't worry too much about the presentation at this point. is it functional now? Then I can take a look

[2019-01-24 14:32] nsheff opened #28 "region query broken again"
http://episb.org/segment/json/1/54321/500000

[code]

[2019-01-24 14:34] nsheff opened #29 "default subscription"
Related to #5.

The hub should start with a set of default providers (in this case, provider.episb.org) already loaded in the subscription interface.

These providers should be used for all queries; for example, the region query right now is not working, but if it were working it should use existing providers.

[2019-01-24 15:25] oddodaoddo commented on #4
I added the capability to get the min/max range values for selected experiment and it is reflected in slider. I don't know how to make the slider slide between 0 and 1, it either goes to 0 or 1 if manipulated.

[2019-01-24 15:28] oddodaoddo commented on #28
Do you mean http://episb.org/region/1/54321/500000 and http://episb.org/api/v1/region/1/54321/500000? They are both working for me.

[2019-01-24 15:58] oddodaoddo commented on #29
God Flask sucks. Why is session management so difficult? Working on this.

[2019-01-24 16:24] oddodaoddo commented on #29
OK - finally fixed properly.

[2019-01-24 16:24] #29 closed

[2019-01-24 16:24] oddodaoddo commented on #28
Wrong URL used in ticket.

[2019-01-24 16:24] #28 closed

[2019-01-24 17:06] nsheff commented on #28
that was the URL that the HTML form was sending me to... it is now sending me to the correct URL, so there must have been a container update or something that fixed this.

[2019-01-24 17:07] nsheff commented on #28
I think maybe soon we should start developing on a dev branch and then releasing with version tags. it would prevent this kind of error. Maybe we'll aim to start doing that at the release 0.2 milestone.

[2019-01-24 17:10] nsheff commented on #29
:trophy: looks good.

is this configurable? For example, when I make a new hub, where do I put the location of the default providers for my hub? can you document that?

[2019-01-24 17:18] oddodaoddo commented on #29
Not yet. I will add that at some point after I am done with the important queries in the hub.

[2019-01-24 17:43] oddodaoddo commented on #6
Try with something like: "DHS::9ff55240-9dd1-42ed-a963-98b127d09793"

[2019-01-24 17:58] oddodaoddo commented on #4
@nsheff : I have spent a few hours trying to figure out how to add another filter control after pressing "Add rule" button but I am going to punt here and wait for some help. Any example/help welcome.

[2019-01-24 21:08] aaron-gu commented on #4
Hi Ognen, I'm an undergraduate with Nathan at UVA. I can help out the with the Segmentation filter frontend - I think it will need some JQuery for dynamic loading and adding rules.

[2019-01-24 21:14] oddodaoddo commented on #4
Sweet - go for it :smile:

[2019-01-24 21:55] michalstolarczyk commented on #4
You can see how it's done in `caravel` if you need. I'm using it in a few places

[2019-01-24 22:02] oddodaoddo commented on #4
Michal, thanks for the pointer! I will take a look at it :smile:

[2019-01-24 22:10] michalstolarczyk opened #30 ""Live" slider value updating"
A little suggestion: if you change the `onchange` attribute to `oninput` in the line linked below, the value will update continuously, which is much more helpful than displaying it after the release.
https://github.com/databio/episb-hub/blob/d04504fa3c82b9565ac270de9f77497a44f32d01/templates/home.html#L114

[2019-01-24 22:11] oddodaoddo commented on #30
Wonderful, will do!

[2019-01-24 22:44] oddodaoddo commented on #30
My problem is that some of these experiments (a lot of them?) have values between 0 and 1 as floating numbers. Doing the above change does not make any difference in that case. Do I need to normalize these to bring them into the 0 to 100 range?

[2019-01-24 22:51] michalstolarczyk commented on #30
To make it possible to select floats you can set another attribute `step` to whatever value, like 0.1

[2019-01-25 02:59] oddodaoddo commented on #30
Done - thanks!

[2019-01-25 02:59] #30 closed

[2019-01-25 03:16] #21 closed

[2019-01-25 03:18] oddodaoddo commented on #6
Make sure it works for input that is not a segment ID

[2019-01-25 03:20] nsheff commented on #6
can you also add the example queries (like "DHS::9ff55240-9dd1-42ed-a963-98b127d09793") as docs, and API access vs HTML access, like you've already done for the retrieve regions query?

http://code.databio.org/episb/howto-query-provider/#query-retrieve-regions

[2019-01-25 17:48] oddodaoddo commented on #7
By regions do we mean set S of chr/start/stop elements? This would then translate into the match question that is not trivial.

[2019-01-25 19:00] nsheff commented on #7
yes, this is exactly the match question (see the title)

[2019-01-25 20:07] oddodaoddo commented on #7
Ok - just wanted to make sure. This means we will not have that tab implemented until we solve the match question.

[2019-01-25 21:21] aaron-gu commented on #4
I implemented the add rule button. It works by giving the slider a name, and the corresponding <span> an HTML id with the same text as the slider name. @2140c55

[2019-01-28 12:19] oddodaoddo commented on #4
@aaron-gu : How are you testing the changes you made? If I run FLASK_APP="main.py" flask run - it just hangs ....

[2019-01-28 14:00] aaron-gu commented on #4
I ran them using the Dockerfile-dev and the command that I added to the README.

[2019-01-28 14:07] oddodaoddo commented on #4
Ok - my dev box is a FreeBSD machine and I do not have an easy way to run Docker containers on it. Let me see what it will take to run it without Docker.

[2019-01-28 14:14] oddodaoddo commented on #4
Can you try and figure out what change is making it hang when running without a container. I am thinking we should be able to run this every way possible since people who may want to contribute may not be able to (or want to) run Docker to do development. I think main.py was not touched in the last commit so it is something in templates/home.html javascript that is making it hang?

[2019-01-28 14:40] nsheff commented on #4
it is also hanging for me...

[2019-01-28 14:45] nsheff commented on #4
it's also hanging on the served version....

[2019-01-28 14:46] nsheff opened #31 "set up down server notifications"
we had changes deployed that caused the server to hang (see #4) -- can you set up ping notifications so we are made aware of this sooner?

[2019-01-28 14:53] nsheff commented on #4
I don't think the hanging is due to @aaron-gu's changes though, because when I check out earlier commits I have the same issue. I can't really diagnose this, something strange is going on...

[2019-01-28 14:56] nsheff commented on #4
It is no longer hanging for me on the master branch. I think it has something to do with google analytics or some server or something...

[2019-01-28 15:01] oddodaoddo commented on #4
That's not good.

[2019-01-28 15:05] oddodaoddo commented on #4
It still hangs for me if I run "FLASK_APP="main.py" flask run" on my machine and try to go to localhost:5000

[2019-01-28 15:06] aaron-gu commented on #4
I just got on and found that it's hanging on the Docker container too. This didn't happen on Friday or Saturday. I'll look into the script tags to see if any one of them is causing the problem.

[2019-01-28 15:06] oddodaoddo commented on #4
Ok - I think it is hanging because provider.episb.org is hanging?

[2019-01-28 15:11] oddodaoddo commented on #4
Yup - confirmed - provider.episb.org is the culprit. @nmagee - did the machine reboot? I see uptime of 3 hours or so. I am guessing this borked elasticsearch and hence the episb provider? :smile:

[2019-01-28 15:16] oddodaoddo commented on #4
elastic container's overlay in /var/lib/docker/overlay is what is eating into the space because all elastic indices are stored there.

[2019-01-28 15:27] oddodaoddo commented on #4
I restarted episb provider container but we are down to the last 50M on / on the machine so.....

[2019-01-28 15:42] nmagee commented on #4
@oddodaoddo `docker image prune` is our friend -- I just got us 6.7GB back, though I realize that's not tons of space.

[2019-01-28 15:43] nmagee commented on #4
There is also 50GB+ available in the `/home` partition.

[2019-01-28 15:44] nmagee commented on #31
Will do, @nsheff -- I'll try to see what caused this.

[2019-01-28 16:01] oddodaoddo commented on #4
@nmagee I think we should be stable for now with the reclaimed space you just provided :). I think at some point we need to sit down with @nsheff and decide on the move to actual production.

[2019-01-28 16:07] nmagee commented on #4
Agreed. And given that running any persistent storage for ES should mean *local* storage, I'm willing to rethink how I set up and deploy one of these 3 DC/OS storage nodes. They have it all -- tons of storage (128TB), CPU (48 cores), mem (376GB), and bandwidth (40Gbps), and so ES could live within the same IP space as everything running in DCOS.

[2019-01-29 01:26] nsheff opened #32 "Example API queries"
Can you add working examples (clickable URLs) for all API points listed in the [data provider api](http://code.databio.org/episb/provider-api/) ?

[2019-01-29 01:28] nsheff opened #33 "API point: Experiment matrix"
Given a segmentation ID, return a (zipped) matrix with each row representing a segment, and each column representing an experiment that annotates that segmentation.

[2019-01-29 01:30] #2 closed, assigned to nmagee

[2019-01-29 01:34] nsheff opened #34 "BED file returns"
any query that returns regions or segments should have an option to return a BED format file.

[2019-01-29 01:34] nsheff opened #35 "Segmentation filter extra rules"
Each "Rule" includes not only the operation and value, but the experiment.  Adding a rule should therefore add a new experiment select box.

[2019-01-29 01:44] aaron-gu commented on #35
I'm not sure I completely understand the purpose of the segmentation filter and experiments. Does adding more experiments just return more search results? Can an experiment have more than one rule, like <50 and >20?

[2019-01-29 01:47] nsheff opened #36 "Refining subscription interface"
- [ ] It should be possible to remove a data provider ("unsubscribe").

- [x] It should also be possible to view more information than the 3 elements currently visible in the interface...all of the info in [the provider interface](http://provider.episb.org/episb-provider/provider-interface) should be either visible, or able to be seen in that interface with a 'details' button or something.

[2019-01-29 01:49] nsheff opened #37 "hub should have configurable default providers"
when I make a new hub, where do I put the location of the default providers for my hub? can you document that?

_Originally posted by @nsheff in https://github.com/databio/episb-hub/issues/29#issuecomment-457277613_

[2019-01-29 02:23] nsheff commented on #35
Read this: http://code.databio.org/episb/howto-query-provider/#query-segmentation-filter

Each rule is an experiment and a condition. as it stands now, you can only add rules for 1 experiment.

[2019-01-29 05:21] aaron-gu commented on #26
The docs do not display correctly if the window is narrowed
![screen shot 2019-01-29 at 12 21 15 am](https://user-images.githubusercontent.com/32209687/51885962-cbd15300-235b-11e9-9210-8fd593715c18.png)

It might fall under this issue for reformatting the docs theme.

[2019-01-29 13:41] oddodaoddo commented on #32
Just to confirm - this is in addition to the Python code below every API explanation? Just a link with the actual example query to provider.episb.org/episb-provider/<API call here> - correct?

[2019-01-29 13:43] oddodaoddo commented on #33
Off the top of my head, this will need to use scroll APIs from elastic.

[2019-01-29 15:01] nsheff commented on #34
given that format can be either html, json, or bed for some queries, maybe we should have a universal `?format= flag` that can be added to the end of the query URL. this is the way the API for [e-utilities at NCBI](https://www.ncbi.nlm.nih.gov/books/NBK25500/#chapter1.Downloading_Full_Records) works.

[2019-01-29 15:37] oddodaoddo commented on #34
Makes sense. Would not be a big deal to implement.

[2019-01-29 15:44] oddodaoddo commented on #35
Maybe a better way to think about this is:

1) each experiment has annotation values (within a certain range)
2) for each experiment you can say give me all annotations equal to <value> or >= <value> [AND/OR <= <value>]

In practice this means that you could have up to three selector boxes for one experiment: for example, you may want all annotations in a range [a,b] AND all annotations with value

[2019-01-29 16:17] nsheff commented on #35
yes

[2019-01-29 16:19] oddodaoddo commented on #35
In fact, you could have any number of selectors per experiment.

For example, for experiment1, you could want all values between 0.1 and 0.3 AND all values equal to 0.5 AND all values between 0.6 and 0.7. For experiment2 you may only want all values between 0.2 and 0.7. So on and so on.

[2019-01-29 19:13] oddodaoddo commented on #20
Deployed.

[2019-01-29 19:13] #20 closed

[2019-01-29 19:23] oddodaoddo commented on #3
Wow, github picks up on ANY #number reference and links automatically...

[2019-01-30 12:47] oddodaoddo commented on #35
@aaron-gu : The segmentation filter interface issue is assigned to you - do you want me to give it a shot with what you started on? :smile:

[2019-01-30 14:53] aaron-gu commented on #35
Yep go ahead. I will also work on it some tonight and tomorrow afternoon.

[2019-01-31 21:56] aaron-gu commented on #35
This is more complex than I thought. We need to make AND and OR statements for the cases like:
- 35 <= x <= 70 (AND case)
- x < 75, x = 85 (OR case)
- and combinations of the above (more ORs stringed together)

The AND rules also need to be checked for validity, as you cannot have something like 35 <= x <= 25. I don't know if it's better to check this on the client side or the server side.

For no

[2019-01-31 22:08] oddodaoddo commented on #35
Yup, I thought it would be complex. I would say check everything you can on client side because you can communicate with the user at that moment.

[2019-02-01 20:42] aaron-gu commented on #35
The button to add multiple experiments is implemented, but there is an issue due to the page reloading after selecting an experiment. Only one experiment can be populated into the form at a time, and adding more experiments will just show a dropdown of 1 item, which is the current experiment. @oddodaoddo can you take a look into dynamically loading the form items?

[2019-02-01 20:46] oddodaoddo commented on #35
Hmm, I see. Let me think about this a bit.

[2019-02-02 14:18] oddodaoddo commented on #35
I think what I am going to do is pass you a list of tuples, where each tuple will be (experiment_name, (experiment_range_min, experiment_range_max)). This way you can add experiments and conditions in the interface (on the JS side) and once the search button is clicked, send me all the info in the form).

[2019-02-03 12:51] oddodaoddo commented on #35
@aaron-gu : I am not passing you a list of (exp_name, min, mid, max, step) values so you can have better control during the selection process (without going back to flask). Does this work for you?

[2019-02-04 12:35] oddodaoddo commented on #35
The requirements for this issue are somewhat vague on that. In my mind, the segmentation is hard-coded and we are only looking at the experiments within that segmentation (@nsheff?). So, for such a segmentation the list of quintuples is not that bad. Obviously, if changing the segmentation (or how about the provider as well) - allowing you to mix and match things from multiple providers AND segmen

[2019-02-04 13:41] oddodaoddo commented on #35
I guess what I am trying to say is - once a provider/segmentation has been chosen, we vary the experiment subset that can be added. For this I think it is appropriate to pass on a list of experiments with their min/max/mid/step values - this will give you full control on the front end to not have to go back to flask every time an experiment is added to list.

[2019-02-05 17:34] oddodaoddo commented on #36
One of the above is implemented in Issue-36 branch. Working on the other point.

[2019-02-05 17:35] oddodaoddo commented on #35
@aaron-gu What do you think? You want to give this a crack?

[2019-02-05 19:03] aaron-gu commented on #35
Sure, I think it will work.

[2019-02-07 20:38] aaron-gu commented on #35
Actually, I think a dictionary input will make it easier. Right now I am populating the selection panel with experiment names and getting their value when they are clicked. Then, since it is a list, I have to do a linear scan to find the correct experiment and get the experiment details. I think the best format for the dictionary would be experiment names mapping to a list or tuple of the experime

[2019-02-07 21:26] oddodaoddo commented on #35
Cool - I can do that - a dictionary keyed by experiment name and each value is a quartuple (min, mid, max, step).

[2019-02-08 13:19] oddodaoddo commented on #35
Ok @aaron-gu - try now.

[2019-02-08 23:46] aaron-gu commented on #35
The page is fully functional now. There are a few minor things to be checked like validity of ANDs. Do you want to start implementing the backend now, and let me know what might need to be changed to work with flask better?

[2019-02-09 00:11] oddodaoddo commented on #35
Yes, thanks!! The site is down (again) - I think we ran out of space (again) ;)

[2019-02-09 13:02] oddodaoddo commented on #35
It is not a space issue - something about the new home.html template is causing flask to vomit.

[2019-02-09 13:30] oddodaoddo commented on #35
Ok - fixed it. @aaron-gu : when I try to add experiments, the >= and <= are not visible. See screenshot (Firefox/FreeBSD).
![screenshot](https://user-images.githubusercontent.com/7661532/52521410-e2718700-2c44-11e9-83f5-bb830bd6d8c9.jpg)

[2019-02-09 18:16] aaron-gu commented on #35
I just pushed a change that increases the width of the dropdown box. Does that fix it?

[2019-02-11 12:54] oddodaoddo commented on #35
@aaron-gu : That worked. Now, for a different question: I think whatever is getting submitted to the form when "Search" is clicked is wrong. See attached screenshot and what I am getting as form keys and values.

![screenshot](https://user-images.githubusercontent.com/7661532/525['Filter', 'selected_provider', 'segmentation_name', 'slider2', 'slider3', 'experiment_name', 'slider1', 'slider4']
Filt

[2019-02-13 12:57] oddodaoddo commented on #35
@aaron-gu : I am going to start looking at the above issue and try to figure out what's going on, if you don't have the time. Thanks! :smile:

[2019-02-13 14:14] aaron-gu commented on #35
Is the problem that some filters <, > are not in the submitted form? Also, I wonder if there is a way to group the sliders together when a form is submitted.

[2019-02-13 14:56] oddodaoddo commented on #35
I think not all experiments are coming back to the form, the sliders are OK since they are marked with numbers but we need a way to know which sliders with which experiment :smile:

[2019-02-14 20:38] aaron-gu commented on #35
After talking to Nathan, I'm going to make some changes to the core logic behind the current segmentation filter. I will remove the AND/OR rules, and just leave "add experiment". Each experiment will have the name "experiment0/1/2" and a corresponding "operator0/1/2" and "value0/1/2". Then in flask we should be able to use a for-loop to get each filter.

[2019-02-14 21:01] aaron-gu commented on #35
Also I think the issue with the form from before was that all of the operators and experiments were getting the same "name" attribute, which is passed to flask when the form is submitted.

[2019-02-18 12:45] oddodaoddo commented on #35
@aaron-gu : I noticed a code commit - working on this now. Thanks!

[2019-02-18 15:45] oddodaoddo commented on #35
This query will require a modification to the episb-provider query to get all annotation values for an experiment. We can modify the episb-provider to take in the filter so that we return the data filtered at the source (in elastic).

[2019-02-18 16:57] oddodaoddo commented on #35
Functionality implement with this code commit: https://github.com/databio/episb-provider/commit/86c73bdad12e1d8754567c88d734a0269844cca1. After some testing, I will be able to finish the segmentation filter.

[2019-02-19 18:56] nsheff commented on #31
I've added this to my monitor.

[2019-02-19 18:56] #31 closed

[2019-02-19 19:22] nsheff commented on #32
Right -- I want users to be able to test these queries out with a click (not having to fire up python)

[2019-02-19 19:22] nsheff commented on #32
we already have some here: http://code.databio.org/episb/howto-query-provider/

[2019-02-19 19:30] oddodaoddo commented on #32
Got it.

[2019-02-20 22:06] oddodaoddo commented on #35
Whef! What a beast! I committed the main code to read in the data, consolidate multiple operators (e.g. >=0.5 && >=0.6 && >=0.7) etc. etc. Right now it spits the raw json back onto the console. I will finish the presentation layer tomorrow :smile:

[2019-02-21 18:30] oddodaoddo commented on #35
This is the [commit](74cbfce19a769a387972f4e36a08f7dbc21ad570)  for this issue

[2019-02-21 18:32] oddodaoddo commented on #4
This [commit](https://github.com/databio/episb-hub/commit/74cbfce19a769a387972f4e36a08f7dbc21ad570) implements this feature. I am closing it since we have a separate issue - #35 - that refers to this work.

[2019-02-21 18:32] #4 closed

[2019-02-21 19:00] oddodaoddo opened #40 "Segmentation filter fails if an experiment in a series is left unselected"
See attached screenshot.
![screenshot](https://user-images.githubusercontent.com/7661532/53194304-0a67cf80-35e1-11e9-865b-0754940ccdbb.jpg)

[2019-02-21 19:12] aaron-gu commented on #35
It looks like the filter works for >= && <=, but is not returning the right results for just a single operator. Maybe the default min/max needs to be set to the experiment min/max values.

[2019-02-21 20:12] oddodaoddo commented on #35
Can you throw in a screenshot? I just ran it for a single operator and it works fine for me.

[2019-02-21 23:26] aaron-gu commented on #35
Nevermind, I think I mistakenly saw some values. Sorry!

[2019-02-22 12:52] oddodaoddo opened #41 "Include json link to segmentation filter results"
Provide a json version of the data returned by segmentation filter.

[2019-02-22 12:52] oddodaoddo commented on #33
Working on this now.

[2019-02-28 17:05] oddodaoddo commented on #33
This [commit](https://github.com/databio/episb-provider/commit/3635b990a483931ec7ceb7ae990a43c9e22ffb4d) implements functionality on the provider to get a .gzipped file of an experiment (annotation/segmentID value rows). To get the file, simply indicate to the server that you can accept .gz content, such as:
[code]

[2019-02-28 17:08] oddodaoddo commented on #33
This uses the elastic scroll API to provide the FULL answer, which may be large.

[2019-02-28 19:37] oddodaoddo commented on #33
@nsheff : Do we want some kind of a screen on episb.org that allows a person to enter a segmentation or is this more for programmatic use? Thanks!

[2019-03-01 13:23] #40 closed

[2019-03-01 13:23] oddodaoddo commented on #35
I consider this issue finished. It has been deployed for a week or more now and nobody has complained :smiley:

[2019-03-01 13:23] #35 closed

[2019-03-01 18:00] oddodaoddo commented on #33
Ping 😄

[2019-03-01 20:19] nsheff commented on #33
at this point just programatic use is fine.

[2019-03-04 02:10] oddodaoddo commented on #33
Ok - cool, thanks!

[2019-03-05 19:02] oddodaoddo commented on #32
https://github.com/databio/episb-hub/tree/Issue-32

[2019-03-05 19:03] oddodaoddo commented on #32
Need to include new API points (.gz matrix for example) and update some that now accept parameters.

[2019-03-06 13:58] oddodaoddo commented on #37
This was implemented in the yaml version of a hub config file.

[2019-03-06 13:58] #37 closed

[2019-03-06 13:59] oddodaoddo commented on #34
This issue belongs to the provider, not the hub.

[2019-03-07 12:26] oddodaoddo commented on #34
This [commit](https://github.com/databio/episb-provider/commit/30545ffb57936d607d3c39926c1561f57514b124) implements this issue on the provider.

[2019-03-09 13:58] oddodaoddo commented on #32
Merged into dev, closing.

[2019-03-09 13:58] #32 closed

[2019-03-09 14:08] oddodaoddo opened #44 "Remove subscribtion interface"
Derived by splitting #36 into two issues for ease of management.

[2019-03-09 15:08] nsheff opened #46 "Implement Segmentation subsets"
A segmentation subset consists of just *some* of the segments that belong to a segmentation. We may be interested in how experiments behave in aggregate across a subset of segments that we have grouped for some reason.

For example, this subset is a group of about 4000 segments (all part of the same segmentation), which have been grouped based on the result of a DNase experiment, across a bunch of

[2019-03-09 15:13] nsheff commented on #46
you could imagine the segmentation subset as the *result* of the segmentation filter... so another way to think about this is to make it possible to put *back* into the database a filter result, for future exploration.

The segmentation filter could also end up pointing you to this same interface for the particular subset you just created. So there is a concept of "persistent subsets", which are s

[2019-03-09 15:15] nsheff opened #47 "update retrieve segments interface"
instead of requiring a specific `chr`, `start`, and `stop` variables, this query type should accept an arbitrary text field, and then parse the result, the way it works here:

http://db.databio.org/coordinate.php

feel free to look at that code to see how it's done.

[2019-03-09 15:22] nsheff opened #48 "visual display of annotation values for individual segments"
related to #46, but for individual segments; it would be nice if there was a way to visualize results nicely. For example, here's a result of experimental annotations across a particular segment:

http://db.databio.org/dhsDetail.php?dhsID=208631

It works in this case because all the experiments belong to a common analysis, so theyr'e all in the same reference. it becomes more complicated if the s

[2019-03-09 15:29] nsheff commented on #32
I still don't see examples live...do you need to update the docs site?

[2019-03-09 15:30] nsheff opened #49 "Individual web pages for each entity"
Related to #48.

Right now you can use the API to grab the JSON for a segment:

http://episb.org/api/v1/annotations/DHS::9ff55240-9dd1-42ed-a963-98b127d09793

But there's no way to use the API to go to the HTML page for that segment, because filling out the form only fwds you to `http://episb.org/annotations`

From my experience the API would be something like:

`episb.org/segments?id=DHS::9ff5524

[2019-03-09 15:46] nsheff commented on #37
is this documented anywhere? I mean, instructions for this config file. I would expect to read it on this page:

http://code.databio.org/episb/howto-build-hub/

[2019-03-09 15:47] nsheff commented on #34
please explain how to use this; I guess it would be here: http://code.databio.org/episb/provider-api/ ?

[2019-03-09 18:34] oddodaoddo commented on #32
It is all in the dev branch. I was not sure what the process is for dev branch -> live docs

[2019-03-09 19:54] nsheff commented on #32
got it! thanks. I think for now can you pretty much update at will. maybe that will change in the future

[2019-03-11 19:37] nsheff opened #50 "display version"
episb should display the version of the hub in the corner, similar to the way `caravel` does.

[2019-03-11 22:40] #36 closed

[2019-03-12 13:33] oddodaoddo commented on #33
It appears I misunderstood the problem definition here. What we want as a reply from this query is a matrix of the following format, presented as BED file:

Segmentation::segmentID_1 Experiment_1 Experiment_2 .... Experiment_n
Segmentation::segmentID_2 AnnValue_1 AnnValue_2 ... AnnValue_n
.
.
.
Segmentation::segmentID_m AnnValue_1 AnnValue_2 ... AnnValue_n

@nsheff : is this correct?

If so, rolli

[2019-03-12 13:35] oddodaoddo commented on #33
Elastic also has some SQL support so this may be an option as well.

[2019-03-12 13:43] oddodaoddo commented on #33
Actually, the format requested would be:
chr start stop experiment_1 experiment_2 ... experiment_n
.
.

This would make it even more complicated since we only track annotations by their segment IDs, we do not store the chr/start/stop info with each annotation to avoid duplication of data.

[2019-03-12 14:09] nsheff commented on #33
you would start with a segmentation, identify all segments in the segmentation, and then identify all experiments for each segment.

you already have an endpoint to identify the segments in the segmentation. And you have the endpoint to identify all experiments for each segment.

I'm a bit reluctant to introduce new technology at the early stage, rather wanting to first get things functional, even

[2019-03-12 15:40] oddodaoddo commented on #33
The way we have the data structure in elastic and the APIs, I actually have an endpoint that retrieves all Annotations for a given Segmentation. Something like:
[code]

However, this information does not have the chr/start/stop info, just the segment ID. In a real-life scenario, I would have to take the thousands and thousands of segment IDs and hit up elastic for each one to get the chr/start/sto

[2019-03-13 22:04] nsheff opened #53 "episb.org down"
Since 2pm, so it's been 4 hours...

502 Bad Gateway
nginx/1.15.3

[2019-03-14 01:10] oddodaoddo commented on #53
Hey Dr. Sheffield, we had the meeting and then it took me 3 hours to get home etc. so... Anywhoo, it is back up.

[2019-03-14 01:16] nsheff commented on #53
cool -- what happened?

[2019-03-14 01:26] oddodaoddo commented on #53
No idea! :smile: - I restarted the docker container and it is working now. It is strange (and unsettling)...

[2019-03-14 01:43] oddodaoddo commented on #33
Just to reiterate today's meeting: I will return a bed file of following format:

[code]

Correct?

[2019-03-14 01:45] nsheff commented on #33
yes.

[2019-03-14 01:47] nsheff opened #54 "hub API docs"
the hub api docs are still full of filler text:

http://code.databio.org/episb/hub-api/

This will need to actually document the API

[2019-03-14 01:55] oddodaoddo commented on #34
OK, the following query is an example of what is returned now:
`http://provider.episb.org/episb-provider/segments/get/fromSegment/1/10000/30000?format=bed

[2019-03-14 01:57] nsheff opened #55 "making human-readable IDs"
Right now our IDs are like hashes, looking like: "BroadHmm::36af55ad-b62f-40fb-8bfc-0dbb05169306"

Can we instead use something that would be meaningful to a human? Like:

"BroadHmm::Segment1539"

This will be much easier to deal with in the future as people start to need to refer to these, for example, in a paper.

[2019-03-14 01:58] nsheff commented on #34
that looks correct. and it reminds of something I meant to ask you about: https://github.com/databio/episb-hub/issues/55

[2019-03-14 02:15] nsheff opened #56 "dev container isn't building"
when I build and run this container off the dev branch, I get a 502 gateway error. But when I build and run it off the master branch, it works. so, something is broken in the dev container...

[2019-03-14 02:23] oddodaoddo commented on #56
Yup, that's was the problem. Oddly enough, episb.org was running the dev branch. I can run the dev branch locally via ```FLASK_APP="main.py" flask run``` though.

[2019-03-14 02:25] oddodaoddo commented on #55
We can. We use UUIDs which are easy to auto-generate. I can decide on some large number - say, 100,000 (just kidding, something larger than that) and generate a random number when creating the segment ID.

[2019-03-14 02:30] oddodaoddo commented on #34
Ok - this is live.

[2019-03-14 02:35] nsheff commented on #55
would it be too much trouble to have them go in order? Maybe not worth it...seems easier becuase then there's no clashes and the order is meaningful.

[2019-03-14 10:52] oddodaoddo commented on #55
The IDs are assigned at the moment a segmentation is created. For them to go in order, I would have to keep track of the last one loaded. Not a big deal, I would say, we could stash counter this somewhere.

[2019-03-14 11:44] nsheff commented on #55
a segmentation should be created all at once, shouldn't it?

Anyway it would be good anyway for the Segmentation object to keep track of how many Segments it has. when creating a new one it increments this and uses it to assign the ID to the new Segment.

[2019-03-14 11:47] oddodaoddo commented on #55
Yes, you are right. Segment names should only be unique inside a segmentation, not across ALL segmentations.

[2019-03-14 11:48] nsheff commented on #55
of course

[2019-03-14 11:53] oddodaoddo commented on #55
Yup. Right now they are unique per provider. If someone were to run their own provider and load their own segmentation - the IDs would be randomly generated UUIDs prefixed by the segmentation name and "::". However, the UUIDs are not checked against any other provider - hence, it doesn't really matter that a random UUIDs is used anyway.

[2019-03-14 11:56] nsheff commented on #55
ok then I think it's clear we should do within-provider uniqueness only, with human readable increments of the form "SegmentXXXX", and have the segmentation remember how many segments it contains.

any questions?

[2019-03-14 12:01] oddodaoddo commented on #55
Nope, we agree.

[2019-03-14 18:47] oddodaoddo commented on #33
I have a fix deployed in the dev branch of episb-provider. The SQL route did not work from elastic so I resorted to manual labor. It is slow and I am working on making it faster. One problem is that due to the size of the data we need to use the scroll API from elastic - meaning, we are rolling up the data one window at a time. However, the size of this window needs to be carefully calculated so t

[2019-03-14 19:21] nsheff commented on #33
I have a new idea... Try this:

write an endpoint that searches for an experimentID and a segmentationID.
then:
1. get all experiments for a segmentation
2. Run a loop through all experiments/segmentation search
3. concat.

let me know if we can talk about it --

[2019-03-14 20:38] oddodaoddo commented on #33
I will take that into consideration - it sounds like a simple idea and that's always good. I have sped up the query somewhat, it is live now on the server. For the DHS segmentation (which is pretty chunky), the file takes about 10-15 minutes to produce and pull down to my machine at home,which sounds pretty long.

[2019-03-14 20:46] nsheff commented on #33
it' just changes the loop... you're looping over segments. it's better to loop over experiments.

[2019-03-14 21:09] nsheff commented on #26
fixed by new mkdocs theme.

[2019-03-14 21:09] #26 closed

[2019-03-14 22:18] oddodaoddo commented on #33
Yeah... There are 3 million rows in DHS and 104 experiments - that makes for 3 million rows x 104 columns = a large matrix to produce from essentially 300 million json documents (one document for each annotation - segmentation linkage) pulled in from elastic - they all get parsed first to extract the fields, so on and so on...

[2019-03-16 00:45] nsheff commented on #53
Down again.

Internal Server Error
The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.

[2019-03-16 00:58] oddodaoddo commented on #53
Sorry, this time it was me. I brought down the docker container to test the matrix query in the console. Should be back up now.

[2019-03-16 01:02] oddodaoddo commented on #33
Ok - here is what is happening: DHS segmentation has nearly 3 million segments. Each experiment has nearly 3 million annotations, meaning 3 million JSON documents saying "this annotation value is linked to DHS::segment_ID_something". 104 experiments linked to DHS segmentation means 104 x 3 million documents and roughly 300 million documents.

Elastic will let you get 10,000 documents each time via

[2019-03-16 01:27] nsheff commented on #33
it seems to me that the ignite/sql solution is not going to solve this becuase it will still have to do these kinds of queries at some point.

[2019-03-16 03:08] oddodaoddo commented on #33
Probably not, although Ignite is a distributed cache and being distributed and a cache, it may have some or a lot of the requested data already lying around. Ultimately, it would be nice if elastic can roll this up internally but horizontally scaling document/json "databases" are not really meant to be used as traditional rdbms systems. We could try a traditional RDBMS to store our data but scalin

[2019-03-16 03:11] oddodaoddo commented on #33
I will say this though: the machine we are running on has 72 cores. If we could fire up 70 concurrent threads, all asking for their own elastic chunk and processing it to add to the matrix, I can see it finishing up pretty quick. We can raise the scroll window size to 50,000 and it could end up being fairly decent performance. This is only one machine - spreading the computation across a cluster w

[2019-03-20 13:22] nsheff commented on #34
I cannot find any documentation on this.

[2019-03-21 12:25] #53 closed

[2019-03-21 12:26] oddodaoddo commented on #34
It looks like someone reverted the changes. I also had the API query examples for each API point as per your request deployed - they were up for days but now they are gone as well.

[2019-03-21 12:38] nsheff commented on #34
probably me -- I"m the only other one change those pages. but probably they are just overridden at the render level, not in the source. I can try to remake them.

[2019-03-21 12:40] nsheff commented on #34
this should do it! https://github.com/databio/code.databio.org/commit/4bbe4b9de84f3ca9c5efc9d3ccef667147d5e7df

[2019-03-21 18:33] nsheff commented on #56
is this fixed?

[2019-03-21 22:22] oddodaoddo commented on #56
Yes. It was missing a requirement (PyYAML) in requirements.txt. I am going to push the changes now. The site is running dev version now (you can check by going to "subscriptions" where it is listing more info, like you requested in one of the tickets :smile:

[2019-03-21 22:28] #56 closed

[2019-03-21 22:58] oddodaoddo commented on #55
I am going to restart elastic for the matrix query. We may need to re-load the experiments and if this is the case, I will implement this change on the fly.

[2019-03-22 12:29] oddodaoddo commented on #55
The new data is being loaded with this feature turned on.

[2019-03-22 12:29] #55 closed

[2019-03-22 12:29] oddodaoddo commented on #50
This is now live.

[2019-03-22 12:29] #50 closed

[2019-03-22 12:31] oddodaoddo commented on #34
This is now live.

[2019-03-22 12:31] #34 closed

[2019-03-22 12:40] nsheff commented on #55
awesome.

this will ruin all of our example URLs though :)

[2019-03-22 13:18] oddodaoddo commented on #55
Oh well - I will fix :smiley:

[2019-03-26 15:49] nsheff opened #57 "swagger and openAPI"
We should use [swagger](https://swagger.io/tools/swagger-ui/) to document our API.

[2019-03-26 15:56] nsheff commented on #57
See also [flask-restplus](https://flask-restplus.readthedocs.io/en/latest/)

[2019-03-26 16:00] nsheff commented on #57
and for [scalatra](http://scalatra.org/guides/2.3/swagger.html)

[2019-03-26 21:30] nsheff commented on #57
Here is [swagger-codegen](https://github.com/swagger-api/swagger-codegen)

[2019-03-26 22:15] oddodaoddo commented on #57
I thought I had a ticket for that already in the provider. Yup - swagger is it.

[2019-03-28 22:04] nsheff opened #58 "simplify dev dockerfile instructions"
Hi @aaron-gu
you created Dockerfile_dev to allow mounting an app for development. Actually, you can simply mount over the the `/app` folder in the same container...

See how I did it here: https://github.com/databio/episb-provider/tree/dev/episb-api

to develop you don't need a different container... just use `v $(pwd):/app`.

Can you update instructions here accordingly? Remove extra dockerfile e

[2019-03-28 22:07] nsheff opened #59 "using fastapi"
Hi @nmagee do you have any experience with [fastapi](https://fastapi.tiangolo.com/)? here we're using flask but I think we should switch for a lot of reasons (one is super nice built-in swagger openai docs).

I worked through some examples here:

https://github.com/databio/episb-provider/tree/dev/episb-api

You can run that container pretty quick and get a quick demo to see what I mean. I think we

[2019-03-28 22:57] aaron-gu commented on #58
What does /start-reload.sh do?

[2019-03-29 00:03] nsheff commented on #58
https://medium.com/@williamhayes/fastapi-starlette-debug-vs-prod-5f7561db3a59

shouldn't matter for the current dockerfile, which is using flask instead of fastapi

[2019-03-29 00:04] nsheff commented on #58
in other words, for the flask case, you keep what you have:

[code]

[2019-04-01 21:19] #58 closed

[2019-04-02 20:45] nmagee commented on #59
@nsheff I'm looking into this now -- sorry I was out of pocket for a couple of days there. I have heard of it, yes, and it could probably help this expand more easily. Let me look at your demo and get back to you.

[2019-04-05 17:58] nmagee commented on #59
@nsheff After going back to read about it, YES I've seen this before and was something I always wanted to plug into a project. Looks robust and very easy to build out quickly, as I remember it. When you're building on top of Mongo, the Eve API is nice like this, but doesn't include the Swagger bits.

I agree that we should move to it.